/* UNIVERSAL DESIGN */
#pets {
	height: 275px;
}
.text {
	background-color: black;
	opacity: 0.5;
}
/* END UNIVERSAL DESIGN */

/* MOBILE DESIGN */
@media screen and (max-width: 768px) {
}
/* END MOBILE DESIGN */

/* DESKTOP DESIGN */
@media screen and (min-width: 768px) {
}
/* END DESKTOP DESIGN */
