/* UNIVERSAL DESIGN */
.carousel {
	margin: 10px 0;
	border: solid;
	border-width: 3px;
}
.text {
	background-color: black;
	opacity: 0.5;
}
/* END UNIVERSAL DESIGN */

/* MOBILE DESIGN */
@media screen and (max-width: 414px) {
	#profileImages {
		height: 275px;
	}
}
/* END MOBILE DESIGN */

/* DESKTOP DESIGN */
@media screen and (min-width: 768px) {
	.carousel {
		max-width: 1115px;
		max-height: 820px;
	}
	#profileImages {
		max-height: 820px;
	}
}
/* END DESKTOP DESIGN */
